{% extends 'app/base.html' %}
{% block content %}

{% load common_filters %}

<style>

table thead{
    background-color: #24262d;
    color: #ffffff;
}

</style>

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-users"></i>
            </div>
            <div class="header-title">
                <h3>Header</h3>
                <small>
                    List of ..etc..
                </small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-stripped" style="margin-bottom:0px;font-size:80%">
                <thead>
                    <td>Username</td>
                </thead>
                {% for user in object_list %}
                <tr>
                    <td>{{user.username|safe}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="50">No Records</td>
                </tr>
                {% endfor %}
            </table>
            {% if is_paginated %}
                {% pagination_html page_obj %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
