
<!-- Navigation-->
    <aside class="navigation" style="width:40px; background-color:#F8A900;position:fixed;">
        <nav style="width:40px">
            <ul class="nav luna-nav" style="padding:15px 0px;">
                <li class="text-center" title="Dashboard">
                    <a href="{% url 'dashboard' %}" style="padding:10px 0px; color:#ffffff">
                        <i class="fa fa-dashboard"></i>
                    </a>
                </li>

                <li class="text-center" title="Leads">
                    <a href="" style="padding:10px 0px; color:#ffffff">
                        <i class="fa fa-bullhorn"></i>
                    </a>                    
                </li>
                <li class="text-center" title="Tasks">
                    <a href="{% url 'tasks' %}" style="padding:10px 0px; color:#ffffff">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
                <li class="text-center" title="Contacts">
                    <a href="" style="padding:10px 0px; color:#ffffff">
                        <i class="fa fa-phone"></i>
                    </a>
                </li>
                <li class="text-center" title="Knowledge Base">
                    <a href="" style="padding:10px 0px; color:#ffffff">
                        <i class="fa fa-book"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- End navigation-->

    <script>
    
    $(document).ready(function(){

       xx = window.location.href;


    });
    
    
    
    
    </script>